In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [7]:
df = pd.read_csv('/Users/sky/Library/CloudStorage/GoogleDrive-skyjin0127@gmail.com/其他计算机/我的笔记本电脑/jzt/BU课程/Spring_2025/CS506/project/cs506-project/datasets/' \
'processed_data/cleaned_recruitment_data.csv')
categorical_cols = ['Gender', 'EducationLevel', 'RecruitmentStrategy']


for col in categorical_cols:
    le = LabelEncoder()
    df[col + '_encoded'] = le.fit_transform(df[col])

In [10]:
df.head()

,Age,Gender,EducationLevel,ExperienceYears,PreviousCompanies,DistanceFromCompany,InterviewScore,SkillScore,PersonalityScore,RecruitmentStrategy,HiringDecision,Gender_encoded,EducationLevel_encoded,RecruitmentStrategy_encoded
0,26,Male,Bachelor,0,3,26.783828,48,78,91,Referral,1,1,0,2
1,39,Male,PhD,12,3,25.862694,35,68,80,Online,1,1,3,1
2,48,Female,Bachelor,3,2,9.920805,20,67,13,Online,0,0,0,1
3,34,Male,Bachelor,5,2,6.407751,36,27,70,Agency,0,1,0,0
4,30,Female,High School,6,1,43.105343,23,52,85,Online,0,0,1,1

In [9]:
df.to_csv('encoded_cleaned_recruitment_data.csv')